#container, #wrapper {
	width: 780px;
	margin: 0 auto;
}

#header {
	position: fixed;
	z-index: 10;
}

#ress {
	width: 550px;
	height: 35px;
	margin-top: 10px;
	float:right;
	text-align: center;
	background: rgba(1, 18, 38, 1);
	border: 1px solid #7190ab;
}
#ress .rtitle {
	font-weight: bold;
	background: #052543;
	height: 17px;
}
#ress div {
	clear: both;
}
#ress span {
	float: left;
	display: inline;
	width: 137px;
}
#topmenu {
	background: #222;
	width: 780px;
	height: 137px;
	text-align: center;
	background-image: url(../../space4k/logo.jpg);
}


#main {
	width: 550px;
	margin-top: 75px;
}
.top .center, .bottom .center {
	width: 487px;
}
.inner .main {
	margin: 0 30px 0 33px;
}

#menu {
	width: 138px;
	margin-top: 60px;

	text-align: center;

	z-index: 20;
}
#menu ul {
	margin-top: 5px;
	margin-bottom: 10px;
	padding:0;
}
#menu li {
	text-indent: 0px;
	margin: 0 0 0 -10px;
}