/* Header
------------------ */
#top {
	top: 0;
	left: 0;
	width: 100%;
	height: 85px;
	border: 1px solid #000;
	position: fixed;
	background: rgba(1, 18, 38, 0.5);
	z-index: 2;
}

#header {
	top: 0;
	width: 990px;
	height: 75px;
	position: absolute;
	line-height: 1.8em;
	position: fixed;
	z-index: 2;
}
#header a {
	color: #a0dfff;
	border: 0px;
}
	#header a:hover {
		color: #6CFFFF;
	}

#topmenu {
	left: 0;
	width: 100%;
	height: 30px;
	padding: 0;
	text-align: right;
	color: #fff;
	border-bottom: 2px solid #7190ab;
	background: rgba(1, 18, 38, 0.5);
	position: fixed;
}

#topmenu > span {
	display: inline-block;
}

#topmenu span:first-child {
	padding: 6px 10px 2px;

	border:1px solid #7190ab;
	border-top:0;
	border-bottom:0;
	background:#4B637C;
	font-weight: bold;
	font-size: 11px;
}

.options {
	height:30px;
	margin-right: 5px;
	float: right;

	border-left: 1px solid #7190ab;
}
.options > a {
	height: 30px;
	width: 30px;
	margin-left: 3px;
	display: inline-block;
	background: url(../imgs/options.png) 50% 50% no-repeat;
}
	.options:hover > a {
		background-color: #2A3847;
	}

.nbmp {
}
.nbmp > a {
	width:21px;
	height:25px;
	margin: 5px 10px 0px;
	display:inline-block;
	font-weight:bold;
	text-align:center;
	background:url(../imgs/msgs.png) no-repeat -26px 0px;
}
	.nbmp a:hover {
		text-decoration:none;
	}

.options ul,
.nbmp ul {
	position:absolute;
	top:30px;
	right:5px;
	margin:0;
	padding:0 20px;

	background:#2A3847;
	border:1px solid #7190ab;
	border-top:0;
	list-style-type: none;
	visibility: hidden;
}
	.options:hover ul,
	.nbmp:hover ul {
		visibility: visible;
	}
.option li,
.nbmp li {
	margin: 0;
	padding: 0;
}

#header-menu {
	margin: 28px 0 0 20px;
}
#header-menu > ul {
	height: 20px;
	line-height: 20px;
	padding: 5px 10px;
	border-bottom: 0;
	list-style-type: none;
	margin:15px 0 0 0;
	float: left;
}
#header-menu > ul li {
	display: inline-block;
	margin: 0 2px;
	padding: 5px 10px;
	font-weight: bold;
}
#header-menu > ul a:hover {
	text-decoration: none;
}

#ress {
	width: auto;
	height: 15px;
	line-height: 15px;
	margin: 23px 10px 0 0;
	padding: 10px;
	float: right;
	background: rgba(1, 18, 38, 0.3);
	border: 1px solid #7190ab;
	border-bottom: 0;
}

#ress ul {
	list-style-type: none;
	margin:0;
	padding:0;
}
#ress ul li {
	display:inline-block;
}
#ress ul li + li {
	margin-left: 15px;
}
	#ress li span + span {
		margin-left: 5px;
	}